In [ ]:
# Qus-1.  Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [ ]:
tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
def Sort_Tuple(tup):
    tup.sort(key = lambda x: x[1])
    return tup

In [ ]:
print(Sort_Tuple(tup))

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
# Qus-2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
def sq(x):
  return  x**2

In [ ]:
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Qus-3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
tuple(map(lambda x : str(x), list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
# Qus-5. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [ ]:
numbers = list(range(1, 25))

In [ ]:
def multiply(x, y):
    return x * y

In [ ]:
result = reduce(multiply, numbers)

In [ ]:
result

620448401733239439360000

In [ ]:
# Qus-6. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
#    [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [64]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
filter(lambda x :  x%2 == 0 or x%3 ==0 , l)

In [ ]:
# Qus-7.  Write a python program to find palindromes in the given list of strings using lambda and filter function.
#  ['python', 'php', 'aba', 'radar', 'level']

In [65]:
k = ['python', 'php', 'aba', 'radar', 'level']

In [ ]:
list(filter(lambda x : x == x[::-1], k))